div#root {
  height: 100vh;
  width: 100vw;
  color: #ddd;
}

.nav-active { color: #63c55f; }

a,
a:hover,
.button:hover,
.button:focus,
.button.is-active {
  color: #63c55f;
}

.button:hover,
.button:focus,
.button.is-active {
  border-color: #000;
}
input.input,
select.input,
textarea.textarea,
input[disabled].input,
textarea[disabled].textarea {
  color: #ddd;
  background-color: #282f2f;
}

.button {
  background: linear-gradient(#484e55, #3a3f44 60%, #313539) no-repeat;
  color: #c8c8c8;
  border-color: #000;
}
